//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  background: @navbarBackground;
  .box-shadow(none);
}

.navbar-fixed-top,
.navbar-static-top {
  .navbar-inner {
    border-bottom: none;
    border-bottom: none;
    .background-clip(padding-box);
    .box-shadow(0 0 10px rgba(0,0,0,.5));
  }
}

// Links
.navbar .nav > li > a {
  font-weight: bold;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: @navbarLinkBackgroundActive;
  .box-shadow(none);
}